.mainone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: white;
}

/* Hero Section CSS */
.hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    border: 1px solid;
    height: 800px;
    border: none;
}

.hero-section-img {
    width: 500px;
    height: 600px;
    overflow: hidden;
}

.hero-section-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-section-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.hero-section-text-one {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: 600px;
    width: 100%;
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hero-section-text-one span {
    color: #0066EE;
    width: 100%;
}

.hero-section-text-two {
    max-width: 600px;
    width: 100%;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hero-section-text-two span {
    color: #0066EE;
    width: 100%;
}

.hero-section-btn {
    max-width: 600px;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.hero-section-btn a {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: #0066EE;
    width: 230px;
    height: 55px;
    border: none;
    border-radius: 40px;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.3s ease;
    color: white;
}

.hero-section-btn a i {
    font-size: 15px;
}

.hero-section-btn a:hover {
    transform: scale(0.95);
    gap: 20px;
    background-color: #ffffff;
    border: 1px solid #0066EE;
    color: #0066EE;
}

/* Hero Section Css Complete */

/* Features-intro */
.features-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    background-color: #0066EE;
}


.features-intro-text {
    flex-direction: column;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.features-intro-text h1 {
    color: white;
    font-size: 60px;
}


/* Features-intro */

/* Features Css */

.features {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
}

.features-box {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features-img {

    width: 700px;
    height: 900px;
}

.features-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.features-text span {
    font-size: 60px;
    font-weight: 800;
    width: 100%;
}

.features-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 1200px;
}

.features-text-one {
    max-width: 450px;
    width: 100%;
}

.features-text-one h1 {
    font-size: 45px;
    width: 100%;

}

.features-text-two {
    width: 100%;
    max-width: 450px;
}

.features-text-two p {
    width: 100%;
    font-weight: 300;
}

/* Features CSS complete */


/* Clients CSS */
.clients {
    background-color: #0066EE;
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-box {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    scrollbar-width: none;
    max-width: 1200px;
    width: 100%;
    height: 600px;
}

.clients-card-box {
    flex-shrink: 0;
    width: 100%;
    height: 600px;
    transition: all 0.5s ease;

    display: flex;
}


.clients-img-box {
    padding: 50px;
    max-width: 600px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clients-text-box {
    max-width: 600px;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.clients-text-box h1 {
    color: white;
    font-size: 3.5rem;
}

.clients-text-box span {
    color: white;
    font-size: 2.5rem;
    font-weight: 500;
}

.clients-text-box p {
    font-size: 20px;
    color: white;
}

.clients-text-box span {
    font-size: 2.5rem;
}

.clients-img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Clients CSS complete */


/* Cta Section CSS */
.cta-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-color: #0066EE;
}

.cta-section-box {
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cta-login-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
}

.cta-login-section input {
    width: 300px;
    height: 60px;
    border: 1px solid #0066EE;
    border-radius: 5px;
    padding: 20px;
    outline: none;
}

.cta-login-section button {
    display: flex;
    width: 300px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 60px;
    background-color: #0066EE;
    color: white;
    border-radius: 12px;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.cta-login-section button:hover {
    border: 1px solid #0066EE;
    color: #0066EE;
    background-color: white;
    transform: scale(0.90);
    cursor: pointer;
}

.cta-login-section input::placeholder {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}


.cta-section-text {

    max-width: 650px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cta-section-text h1 {
    color: white;
    font-size: 85px;
    width: 100%;
}


/* Cta Section CSS Complete */